
body{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*  Header */

#header{
  background-color: rgba(159,197,248,255);
  height: 105px;
  clear: both;
  margin-left: auto;
  margin-right: auto;
}

.smlogos{
  margin: 7px;
}

#headerlogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  bottom: 55px;
}

/* Navigation bar */

#navigationbar{
  background-color: rgba(159,197,248,255);
  height: 36px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

#navigationbar ul{
  list-style-type: none;
  font-family: sans-serif;
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-54%);
  /* margin: auto;
  margin-left: 23%;
  width: 60%; */
}

#navigationbar ul li{
  background-color: rgba(159,197,248,255);
  float:left;
  font-size: 20px;
  padding: 5px;
  border-right: 1px solid black;
}

#navigationbar ul li a{
  text-decoration: none;
  font-size: 1.3vw;
  color: black;
}

#navigationbar ul #firstel{
  border-left: 1px solid black;
}

/* Content */
#content{
  background-color:rgb(232, 226, 226);
  width: 100%;
}

#banner{
  width: 95%;
  height: 500px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 25px;
}

#welcome{
  font-family: sans-serif;
  display: block;
  position: absolute;
  left: 50%;
  top: 350px;
  transform: translateX(-50%);
  font-size: 50px;
  color: white;
}

.box{
  width: 45%;
  height: 150px;
  margin-top: 30px;
  box-sizing: border-box;
  float: left;
  border-radius: 25px;
  border: 4px solid black;
  background-color: white;
}

#box1{
  margin-left: 3%;
  margin-right: 3%;

}

#box2{
}

#box3{
  margin-left: 3%;
  margin-right: 3%;

}

#box4{
}
