#header{
  background-color: rgba(159,197,248,255);
  height: 550px;
}

.smlogos{
  margin-left: 10px;
}

#nav{
  float:left;
}

#headerlogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  bottom: 140px;
}
