/* Content */

#content{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding-top: 5px;
  background-color: #dae4f0;
  clear: both;
}

#video-container{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: left;
  width:55%;
}

video{
  margin-left: 2%;
  margin-right: 3%;
  width:100%;
}

#container{
  margin-top: 30px;
  height:430px;
  clear: both;
}

#form-container{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffffff;
  margin-left: 2.5%;
  width:41%;
  border-radius: 25px;
  border: 4px solid black;
  float:left;
}

form{
  position: relative;
  left:50%;
  transform: translateX(-45%);
  margin-left : 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

label{
  display: inline-block;
  width: 20%;
  margin-top: 15px;
}

input{
  width: 60%;
  margin-top: 15px;
}

input[type="submit"]{
  position: relative;
  left:50%;
  transform: translateX(-70%);
  width: 25%;
}

select{
  width: 20%;
}

.date{
  width:5%;
}
